body{
  background-color: #D0E0C0;
}

#main{
  width: 798;
  margin: 40px auto;
  padding: 40px 80px;
  border: green 1px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 30px;
}

.cat_picture:aftre{
  content: "";
  display: block;
}

.explanation{
  float: left;
  width: 468;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}

.btn{
  -webkit-appearance: none;
  margin 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.btn:hover{
  opacity: 0.7;
}

.btn:active{
  color: silver;
}

.btn-submit{
  background-color: blue;
}

.byn-reset{
  background-color: orange;
}
